<div class="app-container sentinl">
  <kbn-top-nav name="sentinl" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>

      <!-- Tabs. -->
      <div data-transclude-slot="bottomRow" class="kuiLocalTabs">
        <a
          ng-repeat="item in tabsMenu.list"
          class="kuiLocalTab"
          ng-class="{'kuiLocalTab-isSelected': tabsMenu.currentPath === item.url}"
          kbn-href="{{::item.url}}"
        >
          {{::item.display}}
        </a>
      </div>
    </div>
  </kbn-top-nav>

  <div class="row container">
    <div class="col-md-12">
      <p style="float:left;">UTC time is {{ utcTime }}</p>
      <p style="float:right;">Local time is {{ currentTime }}</p>
      <br style="clear:both;">

      <div class="search-bar">
        <input type="text" class="form-control" ng-model="searchWatchers" placeholder="Search">
      </div>

      <div class="panel panel-default">
        <table class="table" id="watchersList">
          <thead>
            <tr>
              <th>TITLE</th>
              <th>INTERVAL</th>
              <th>INPUT</th>
              <th>ACTIONS</th>
              <th></th>
            </tr>
          <tbody ng-repeat='watcher in watchers | filter:searchWatchers'>
            <tr>
              <td class="col-md-2">
                <a
                  ng-if="!watcher._source.wizard"
                  ng-href="#/watcher/raw/{{watcher._id}}/edit"
                >{{watcher._source.title}}</a>
                <a
                  ng-if="watcher._source.wizard"
                  ng-href="#/watcher/{{watcher._id}}/edit"
                >{{watcher._source.title}}</a>
              </td>
              <td class="col-md-2"
                ng-show="watcher._source.trigger.schedule.later">
                {{ watcher._source.trigger.schedule.later }}
              </td>
              <td class="col-md-2">{{watcher._source.input.search.request.index.join(',')}}</td>
              <td class="col-md-3">
                <span ng-repeat="(key,value) in watcher._source.actions">
                  <p>{{ key }}</p>
                </span>
              </td>
              <td class="col-md-3 text-right edit-group">
                <a
                  title="Raw Edit"
                  class="show-rule"
                  ng-if="!watcher._source.wizard"
                  ng-href="#/watcher/raw/{{watcher._id}}/edit"
                > advanced
                  <i class="fa fa-file-code-o"></i>
                </a>
                <a
                  title="Wizard"
                  class="show-rule"
                  ng-if="watcher._source.wizard"
                  ng-href="#/watcher/{{watcher._id}}/edit"
                > wizard
                  <i class="fa fa-magic"></i>
                </a>
                <a
                  title="Execute"
                  class="show-rule"
                  ng-click="playWatcher(watcher)"
                >
                  <i class="fa fa-play-circle"></i>
                </a>
                <a
                  title="Delete"
                  class="delete-rule"
                  ng-click="deleteWatcher(watcher._id)"
                >
                  <i class="fa fa-trash"></i>
                </a>
                <a
                  title="Disabled"
                  class="delete-rule"
                  ng-click="toggleWatcher(watcher._id)"
                  ng-show="watcher._source.disable"
                >
                  <i class="fa fa-toggle-off"></i>
                </a>
                <a
                  title="Enabled"
                  class="delete-rule"
                  ng-click="toggleWatcher(watcher._id)"
                  ng-show="!watcher._source.disable"
                >
                  <i class="fa fa-toggle-on"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
