<form iname="ddWatcherAggType.form" ng-model-options="{ getterSetter: true }" novalidate>
  <button
    type="button"
    class="btn btn-default pop-over-btn"
    pop-over
    pop-over-title="{{ddWatcherAggType.title}}"
  >
    <strong class="pop-over-btn-text">{{ddWatcherAggType.title}}</strong> {{ddWatcherAggType.selected}}
  </button>
  <div ng-hide="true" class="pop-over-content">
    <select
      class="form-control condition-select"
      ng-model="ddWatcherAggType.selected"
      ng-options="o as o for o in ddWatcherAggType.options"
      ng-change="ddWatcherAggType.handleChange()"
    ></select>
  </div>
</form>
