<h4>{{ action.type }}</h4>
<div class="jumbotron" ng-form="emailForm">
  <div class="form-group">
    <label class="col-md-2 control-label">Priority:</label>
    <div class="btn-group col-md-4">
      <label class="btn btn-danger btn-sm" ng-model="actionSettings.email.priority" btn-radio="'high'">High</label>
      <label class="btn btn-warning btn-sm" ng-model="actionSettings.email.priority" btn-radio="'medium'">Medium</label>
      <label class="btn btn-info btn-sm" ng-model="actionSettings.email.priority" btn-radio="'low'">Low</label>
    </div>
    <div class="col-md-2">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="actionSettings.email.stateless"
          ng-checked="actionSettings.email.stateless"> stateless
      </label>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': emailForm.emailTitle.$invalid && !emailForm.emailTitle.$pristine}">
    <label class="col-md-2 control-label" for="emailTitle">Title:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="emailTitle"
        name="emailTitle"
        value="{{actionName}}"
        class="form-control"
        placeholder="{{watcher._source.uuid}}"
        ng-model="actionSettings.$$title"
        ng-required="actionSettings.email.$$edit">
    </div>
    <p ng-show="emailForm.emailTitle.$invalid && !emailForm.emailTitle.$pristine" class="help-block">
      <small>Action title is required.</small>
    </p>
  </div>
  <div class="form-group" ng-class="{'has-error': emailForm.emailTo.$invalid && !emailForm.emailTo.$pristine}">
    <label class="col-md-2 control-label" for="emailTo">To:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="emailTo"
        name="emailTo"
        value="{{actionSettings.email.to}}"
        class="form-control"
        placeholder="root@localhost"
        ng-model="actionSettings.email.to"
        ng-required="actionSettings.email.$$edit">
    </div>
    <p ng-show="emailForm.emailTo.$invalid && !emailForm.emailTo.$pristine" class="help-block">
      <small>Enter a valid email.</small>
    </p>
  </div>
  <div class="form-group" ng-class="{'has-error': emailForm.emailFrom.$invalid && !emailForm.emailFrom.$pristine}">
    <label class="col-md-2 control-label" for="emailFrom">From:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="emailFrom"
        name="emailFrom"
        value="{{actionSettings.email.from}}"
        class="form-control"
        placeholder="sentinl@localhost"
        ng-model="actionSettings.email.from"
        ng-required="actionSettings.email.$$edit">
    </div>
    <p ng-show="emailForm.emailFrom.$invalid && !emailForm.emailFrom.$pristine" class="help-block">
      <small>Enter a valid email.</small>
    </p>
  </div>
  <div class="form-group" ng-class="{'has-error': emailForm.emailSubject.$invalid && !emailForm.emailSubject.$pristine}">
    <label class="col-md-2 control-label" for="emailSubject">Subject:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="emailSubject"
        name="emailSubject"
        value="{{actionSettings.email.subject}}"
        class="form-control"
        placeholder="Alarm Title"
        ng-model="actionSettings.email.subject"
        ng-required="actionSettings.email.$$edit">
    </div>
    <p ng-show="emailForm.emailSubject.$invalid && !emailForm.emailSubject.$pristine" class="help-block">
      <small>Enter a subject.</small>
    </p>
  </div>
  <div class="form-group" ng-class="{'has-error': !actionSettings.email.body.length}">
    <div class="row">
      <label class="col-md-2 control-label" for="emailBody">Body:</label>
      <div class="col-md-8">
        <div id="emailBody"
          ng-model="actionSettings.email.body"
          ui-ace="aceOptions('behaviour')">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p ng-show="!actionSettings.email.body.length" class="text-warning">
          <small>Describe the alert in the email body.</small>
        </p>
      </div>
    </div>
  </div>
</div>
