<div uib-accordion-group class="panel-default" is-open="action.status.isHeaderOpen">

  <uib-accordion-heading>
    {{actionSettings.$$title}} <i class="pull-right glyphicon"
    ng-class="{'glyphicon-chevron-down': action.status.isHeaderOpen, 'glyphicon-chevron-right': !action.status.isHeaderOpen}"></i>
  </uib-accordion-heading>

  <div class="row" id="email-action" class="action-panel">
    <div class="col-12">
      <div class="well" ng-form="emailForm">

        <div class="page-header">
          <h4><small>{{action.type}} action</small></h4>
        </div> <!-- end page-header -->

        <div class="form-group">
          <div class="col-md-2 period-tag-label">
            <label>Throttle</label>
          </div>
          <div class="col-md-10">
            <period-tag timesrc="actionSettings.$$throttle"></period-tag>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Priority</label>
          <div class="btn-group col-md-4">
            <label class="btn btn-danger" ng-model="actionSettings.email.priority" btn-radio="'high'">High</label>
            <label class="btn btn-warning" ng-model="actionSettings.email.priority" btn-radio="'medium'">Medium</label>
            <label class="btn btn-info" ng-model="actionSettings.email.priority" btn-radio="'low'">Low</label>
          </div>
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox"
                ng-model="actionSettings.email.stateless"
                ng-checked="actionSettings.email.stateless"
              /> stateless
            </label>
          </div>
          <div class="col-md-3">
            <input type="checkbox"
              ng-model="actionSettings.email.save_payload"
              ng-checked="actionSettings.email.save_payload"
            /> save payload
            <i class="fa fa-question-circle"
              aria-hidden="true"
              uib-popover="{{help.action.save_payload}}"
              popover-trigger="'outsideClick'"></i>
          </div>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailForm.emailTitle.$invalid && !emailForm.emailTitle.$pristine}">
          <label class="col-md-2 control-label" for="emailTitle">Title</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailTitle"
              name="emailTitle"
              value="{{actionName}}"
              class="form-control"
              placeholder="{{watcher._id}}"
              ng-model="actionSettings.$$title"
              ng-required="actionSettings.email.$$edit"
            />
          </div>
          <p ng-show="emailForm.emailTitle.$invalid && !emailForm.emailTitle.$pristine" class="help-block">
            Action title is required.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailForm.emailTo.$invalid && !emailForm.emailTo.$pristine}">
          <label class="col-md-2 control-label" for="emailTo">To</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailTo"
              name="emailTo"
              value="{{actionSettings.email.to}}"
              class="form-control"
              placeholder="root@localhost"
              ng-model="actionSettings.email.to"
              ng-required="actionSettings.email.$$edit"
            />
          </div>
          <p ng-show="emailForm.emailTo.$invalid && !emailForm.emailTo.$pristine" class="help-block">
            Enter a valid email.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailForm.emailFrom.$invalid && !emailForm.emailFrom.$pristine}">
          <label class="col-md-2 control-label" for="emailFrom">From</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailFrom"
              name="emailFrom"
              value="{{actionSettings.email.from}}"
              class="form-control"
              placeholder="sentinl@localhost"
              ng-model="actionSettings.email.from"
              ng-required="actionSettings.email.$$edit"
            />
          </div>
          <p ng-show="emailForm.emailFrom.$invalid && !emailForm.emailFrom.$pristine" class="help-block">
            Enter a valid email.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailForm.emailSubject.$invalid && !emailForm.emailSubject.$pristine}">
          <label class="col-md-2 control-label" for="emailSubject">Subject</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailSubject"
              name="emailSubject"
              value="{{actionSettings.email.subject}}"
              class="form-control"
              placeholder="Alarm Title"
              ng-model="actionSettings.email.subject"
              ng-required="actionSettings.email.$$edit"
            />
          </div>
          <p ng-show="emailForm.emailSubject.$invalid && !emailForm.emailSubject.$pristine" class="help-block">
            Enter a subject.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': !actionSettings.email.body.length}">
          <label class="col-md-2 control-label" for="emailBody">Body</label>
          <div class="col-md-10">
            <div id="emailBody"
              ng-model="actionSettings.email.body"
              ui-ace="aceOptions('behaviour', 30)">
            </div>
          </div>
          <p ng-show="!actionSettings.email.body.length" class="text-warning">
            Describe the alert in the email body.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group control-actions">
          <button type="button" class="btn btn-danger pull-right" ng-click="removeAction()">Delete</button>
        </div> <!-- end form-group -->

      </div> <!-- end well -->
    </div> <!-- end col-12 -->
  </div> <!-- end email-action -->
</div> <!-- end uib-accordion-group -->
