<section>
  <form name="actionPanelWatcherEdit.form" ng-model-options="{ getterSetter: true }" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="row watcher-editor-panel-header">
            <div class="col-md-6">
              <header>
                <h4 class="form-text">
                  Actions
                </h4>
              </header>
            </div>
          </div> <!-- END header -->
          <hr>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <watcher-edit-add-action
                  on-add="actionPanelWatcherEdit.onAdd({actionName: actionName, actionSettings: actionSettings})"
                ></watcher-edit-add-action>
              </div>
            </div>
            <div class="col-md-10">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <uib-accordion close-others="actionPanelWatcherEdit.status.closeOthers">
                  <div ng-repeat="(actionName, actionSettings) in actionPanelWatcherEdit.watcher._source.actions track by $index">
                    <watcher-edit-email-action
                      ng-if="actionPanelWatcherEdit.isAction(actionSettings, 'email')"
                      action-name="{{actionName}}"
                      action-settings="actionSettings"
                      action-delete="actionPanelWatcherEdit.onDelete({actionName: actionName})"
                    ></watcher-edit-email-action>
                  </div>
                </uib-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
