<div uib-accordion-group class="panel-default" is-open="action.status.isHeaderOpen">

  <uib-accordion-heading>
    {{actionSettings.$$title}} <i class="pull-right glyphicon"
    ng-class="{'glyphicon-chevron-down': action.status.isHeaderOpen, 'glyphicon-chevron-right': !action.status.isHeaderOpen}"></i>
  </uib-accordion-heading>

  <div class="row" id="email-html-action" class="action-panel">
    <div class="col-12">
      <div class="well" ng-form="emailHtmlForm">

        <div class="page-header">
          <h4><small>{{action.type}} action</small></h4>
        </div> <!-- end page-header -->

        <div class="form-group">
          <div class="col-md-2 period-tag-label">
            <label>Throttle</label>
          </div>
          <div class="col-md-10">
            <period-tag timesrc="actionSettings.$$throttle"></period-tag>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Priority</label>
          <div class="btn-group col-md-4">
            <label class="btn btn-danger" ng-model="actionSettings.email_html.priority" btn-radio="'high'">High</label>
            <label class="btn btn-warning" ng-model="actionSettings.email_html.priority" btn-radio="'medium'">Medium</label>
            <label class="btn btn-info" ng-model="actionSettings.email_html.priority" btn-radio="'low'">Low</label>
          </div>
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox"
                ng-model="actionSettings.email_html.stateless"
                ng-checked="actionSettings.email_html.stateless"
              /> stateless
            </label>
          </div>
          <div class="col-md-3">
            <input type="checkbox"
              ng-model="actionSettings.email_html.save_payload"
              ng-checked="actionSettings.email_html.save_payload"
            /> save payload
            <i class="fa fa-question-circle"
              aria-hidden="true"
              uib-popover="{{help.action.save_payload}}"
              popover-trigger="'outsideClick'"></i>
          </div>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailHtmlForm.emailHtmlTitle.$invalid && !emailHtmlForm.emailHtmlTitle.$pristine}">
          <label class="col-md-2 control-label" for="emailHtmlTitle">Title</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailHtmlTitle"
              name="emailHtmlTitle"
              value="{{actionName}}"
              class="form-control"
              placeholder="{{watcher._id}}"
              ng-model="actionSettings.$$title"
              ng-required="actionSettings.email_html.$$edit"
            />
          </div>
          <p ng-show="emailHtmlForm.emailHtmlTitle.$invalid && !emailHtmlForm.emailHtmlTitle.$pristine" class="help-block">
            Action title is required.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailHtmlForm.emailHtmlTo.$invalid && !emailHtmlForm.emailHtmlTo.$pristine}">
          <label class="col-md-2 control-label" for="emailHtmlTo">To</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailHtmlTo"
              name="emailHtmlTo"
              value="{{actionSettings.email_html.to}}"
              class="form-control"
              placeholder="root@localhost"
              ng-model="actionSettings.email_html.to"
              ng-required="actionSettings.email_html.$$edit"
            />
          </div>
          <p ng-show="emailHtmlForm.emailHtmlTo.$invalid && !emailHtmlForm.emailHtmlTo.$pristine" class="help-block">
            Enter a valid emailHtml.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailHtmlForm.emailHtmlFrom.$invalid && !emailHtmlForm.emailHtmlFrom.$pristine}">
          <label class="col-md-2 control-label" for="emailHtmlFrom">From</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailHtmlFrom"
              name="emailHtmlFrom"
              value="{{actionSettings.email_html.from}}"
              class="form-control"
              placeholder="sentinl@localhost"
              ng-model="actionSettings.email_html.from"
              ng-required="actionSettings.email_html.$$edit"
            />
          </div>
          <p ng-show="emailHtmlForm.emailHtmlFrom.$invalid && !emailHtmlForm.emailHtmlFrom.$pristine" class="help-block">
            Enter a valid emailHtml.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': emailHtmlForm.emailHtmlSubject.$invalid && !emailHtmlForm.emailHtmlSubject.$pristine}">
          <label class="col-md-2 control-label" for="emailHtmlSubject">Subject</label>
          <div class="col-md-10">
            <input
              type="text"
              id="emailHtmlSubject"
              name="emailHtmlSubject"
              value="{{actionSettings.email_html.subject}}"
              class="form-control"
              placeholder="Alarm Title"
              ng-model="actionSettings.email_html.subject"
              ng-required="actionSettings.email_html.$$edit"
            />
          </div>
          <p ng-show="emailHtmlForm.emailHtmlSubject.$invalid && !emailHtmlForm.emailHtmlSubject.$pristine" class="help-block">
            Enter a subject.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': !actionSettings.email_html.body.length}">
          <label class="col-md-2 control-label" for="emailHtmlBody">Body</label>
          <div class="col-md-10">
            <div id="emailHtmlBody"
              ng-model="actionSettings.email_html.body"
              ui-ace="aceOptions('behaviour')">
            </div>
          </div>
          <p ng-show="!actionSettings.email_html.body.length" class="text-warning">
            Describe the alert in the email body.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group" ng-class="{'has-error': !actionSettings.email_html.html.length}">
          <label class="col-md-2 control-label" for="emailHtmlBody">Body HTML</label>
          <div class="col-md-10">
            <div id="emailHtmlBody"
              ng-model="actionSettings.email_html.html"
              ui-ace="aceOptions('html')">
            </div>
          </div>
          <p ng-show="!actionSettings.email_html.html.length" class="text-warning">
            Describe the alert in the email body HTML.
          </p>
        </div> <!-- end form-group -->

        <div class="form-group control-actions">
          <button type="button" class="btn btn-danger pull-right" ng-click="removeAction()">Delete</button>
        </div> <!-- end form-group -->

      </div> <!-- end well -->
    </div> <!-- end col-12 -->
  </div> <!-- end email-action -->
</div> <!-- end uib-accordion-group -->
