<form iname="watcherEditEverySchedule.form" ng-model-options="{ getterSetter: true }" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          ng-model="watcherEditAddIndex.selected"
          ng-model-options="{ debounce: 500 }"
          placeholder="Type index names here"
          uib-typeahead="element.index for element in watcherEditAddIndex.getIndexNames($viewValue)"
          typeahead-loading="watcherEditAddIndex.loadingLocations"
          typeahead-no-results="watcherEditAddIndex.noResults"
          typeahead-on-select="watcherEditAddIndex.handleChange($item, $model, $label, $event)" 
          ng-change="watcherEditAddIndex.handleChange()"
          ng-model-options="{ debounce: 500 }"
        >
        <i ng-show="watcherEditAddIndex.loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="watcherEditAddIndex.noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
      </div>
    </div>
  </div>
</form>
