<form name="ddWatcherAggOver.form" ng-model-options="{ getterSetter: true }" novalidate>
  <a pop-over pop-over-title="{{ddWatcherAggOver.title | uppercase}}">
    <span ng-if="!ddWatcherAggOver.top.enabled">
      <strong class="pop-over-btn-text">{{ddWatcherAggOver.overHow | uppercase}}</strong> {{ddWatcherAggOver.selectedType}}
    </span>
    <span ng-if="ddWatcherAggOver.top.enabled">
      <strong class="pop-over-btn-text">{{ddWatcherAggOver.overHow | uppercase}}</strong>
      {{ddWatcherAggOver.selectedType}} {{ddWatcherAggOver.top.n}} {{ ddWatcherAggOver.top.field | limitText: ddWatcherAggOver.textLimit}}
    </span>
  </a>
  <div ng-hide="true" class="pop-over-content">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <select
            class="form-control condition-select"
            ng-model="ddWatcherAggOver.selectedType"
            ng-options="o as o for o in ddWatcherAggOver.options"
            ng-change="ddWatcherAggOver.handleChange()"
          ></select>
        </div>
        <div class="form-group">
          <input
            class="form-control condition-select"
            id="ddWatcherAggOverNumber"
            type="number"
            ng-if="ddWatcherAggOver.top.enabled"
            ng-model="ddWatcherAggOver.top.n"
            ng-change="ddWatcherAggOver.handleChange()"
          >
        </div>
        <div class="form-group">
          <select
            class="form-control condition-select"
            ng-if="ddWatcherAggOver.top.enabled"
            ng-model="ddWatcherAggOver.top.field"
            ng-options="o as o for o in ddWatcherAggOver.indexTextFields"
            ng-change="ddWatcherAggOver.handleChange()"
          ></select>
        </div>
      </div>
    </div>
  </div>
</form>
