<div id="dashboard-button" ng-controller="controller">
  Create a watcher from a custom template. The time range specified on the dashboard is not used.
  <div class="input-segment">
    <select
      required class="form-control" ng-model="selectedTemplate"
      ng-options="template.title for template in templates | orderBy: 'dashboard.order'"
      ng-disabled="selectDisabled || !selectedTemplate"
      ng-change="getErrors()"
    ></select>
    <a ng-href="./sentinl#/watcher/custom/{{selectedTemplate.id}}/new">
      <button ng-click="createWatcher()" ng-disabled="errorMessage || !selectedTemplate" class="kuiButton kuiButton--primary">Create!</button>
    </a>
  </div>

  <div class="description">
    <span class="text-danger">{{errorMessage}}</span>
    <span ng-hide="errorMessage">{{selectedTemplate.description}}</span>
  </div>
</div>
