<div class="modal-header">
  <h3 class="modal-title">Create watcher</h3>
</div>
<div class="modal-body">

<form name="outerForm" class="form-horizontal">
  <tabset active="activeForm">
    <tab index="0" heading="General">
      <div class="form-group">
        <p></p>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="title">Title:</label>
        <div class="col-md-6">
          <input
            type="text"
            id="title"
            name="title"
            value="{{watcher._source.title}}"
            class="form-control"
            ng-disabled="disabled">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="title">Schedule:</label>
        <div class="col-md-6">
          <timepicker ng-model="form.time.time"
            ng-change="changed()"
            hour-step="form.time.hstep"
            minute-step="form.time.mstep"
            show-meridian="form.time.ismeridian"></timepicker>
        </div>
      </div>
    </tab>
    <tab index="1" heading="Input">
      <div class="form-group">
        <p></p>
      </div>
    </tab>
    <tab index="2" heading="Condition">
      <div class="form-group">
        <p></p>
      </div>
    </tab>
    <tab index="3" heading="Transform">
      <div class="form-group">
        <p></p>
      </div>
    </tab>
    <tab index="4" heading="Actions">
      <div class="form-group">
        <p></p>
      </div>
    </tab>
  </tabset>
</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
