condition-panel-watcher-edit .condition-select {
  width: 100px;
}

condition-panel-watcher-edit .form-group li {
  display: inline;
  margin-right: 25px;
}

condition-panel-watcher-edit .div-inline {
  display: inline;
}
