<section>
  <form name="conditionPanelWatcherEdit.form" ng-model-options="{ getterSetter: true }" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <header>
                <h4 class="form-text">
                  Match condition
                </h4>
              </header>
            </div>
          </div> <!-- END header -->
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <ul>
                  <li><dd-watcher-agg-type on-select="conditionPanelWatcherEdit.condition.type.handleSelect(type)"></dd-watcher-agg-type/></li>
                  <li>
                    <dd-watcher-agg-field
                      ng-show="conditionPanelWatcherEdit.condition.field.enabled"
                      on-select="conditionPanelWatcherEdit.condition.field.handleSelect(field)"
                    ></dd-watcher-agg-field/>
                  </li>
                  <li><dd-watcher-agg-over on-select="conditionPanelWatcherEdit.condition.over.handleSelect(over)"></dd-watcher-agg-over/></li>
                  <li><dd-watcher-agg-threshold on-select="conditionPanelWatcherEdit.condition.threshold.handleSelect(direction, n)"></dd-watcher-agg-threshold/></li>
                  <li><dd-watcher-agg-time on-select="conditionPanelWatcherEdit.condition.last.handleSelect(unit, n)"></dd-watcher-agg-time/></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
              </div>
            </div>
          </div> <!-- END condition based query builder -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group chart-container" ng-show="conditionPanelWatcherEdit.chart.enabled">
                <canvas
                  class="chart chart-line"
                  chart-data="conditionPanelWatcherEdit.chart.yAxis"
                  chart-labels="conditionPanelWatcherEdit.chart.xAxis"
                  chart-options="conditionPanelWatcherEdit.chart.options"
                  chart-click="conditionPanelWatcherEdit.onChartClick"
                ></canvas> 
              </div>
              <div class="form-group" ng-show="!conditionPanelWatcherEdit.chart.enabled">
                <p>{{conditionPanelWatcherEdit.chart.message}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <p ng-show="conditionPanelWatcherEdit.chart.progress.running">{{conditionPanelWatcherEdit.chart.progress.message}}</p>
              </div>
            </div>
          </div> <!-- END chart, data hostory -->
        </div>
      </div>
    </div>
  </form>
</section>
