<section>
  <form name="conditionPanelWatcherEdit.form" ng-model-options="{ getterSetter: true }" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="row watcher-editor-panel-header">
            <div class="col-md-6">
              <header>
                <h4 class="form-text">
                  Match condition
                </h4>
              </header>
            </div>
          </div> <!-- END header -->
          <div class="row watcher-editor-panel-paragraph">
            <div class="watcher-editor-condition-dd-menu col-md-12">
              <ul>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-type
                    agg-type-selected="conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.queryType"
                    agg-type-on-select="conditionPanelWatcherEdit.condition.type.handleSelect(type)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-type/>
                </li>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-field
                    agg-enabled="conditionPanelWatcherEdit.condition.field.aggEnabled"
                    active-field="{{conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.field}}"
                    field-names="conditionPanelWatcherEdit.indexesData.fieldNames"
                    time-field="{{conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.timeField}}"
                    on-select-field="conditionPanelWatcherEdit.condition.field.handleFieldSelect(field)"
                    on-select-time-field="conditionPanelWatcherEdit.condition.field.handleTimeFieldSelect(timeField)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-field/>
                </li>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-over
                    agg-over-options="conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.over"
                    agg-field-names="conditionPanelWatcherEdit.indexesData.fieldNames"
                    agg-over-on-select="conditionPanelWatcherEdit.condition.over.handleSelect(over)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-over/>
                </li>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-threshold
                    agg-threshold-options="conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.threshold"
                    agg-threshold-on-select="conditionPanelWatcherEdit.condition.threshold.handleSelect(direction, n)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-threshold/>
                </li>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-time
                    agg-time-options="conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.last"
                    agg-time-on-select="conditionPanelWatcherEdit.condition.last.handleSelect(unit, n)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-time/>
                </li>
                <li class="watcher-editor-condition-dd">
                  <dd-watcher-agg-interval
                    agg-interval-options="conditionPanelWatcherEdit.watcher._source.wizard.chart_query_params.interval"
                    agg-interval-on-select="conditionPanelWatcherEdit.condition.interval.handleSelect(unit, n)"
                    text-limit="conditionPanelWatcherEdit.condition.textLimit"
                  ></dd-watcher-agg-interval/>
                </li>
              </ul>
            </div>
            <div id="watcher-editor-condition-tabset">
              <uib-tabset active="active">
                <uib-tab index="0" heading="Chart">
                  <div class="row">
                    <div class="col-md-1">
                      <div class="form-inline">
                        <div class="form-group">
                          <button 
                            type="button"
                            class="btn btn-sm btn-default"
                            aria-label="Left Align"
                            ng-click="conditionPanelWatcherEdit.switchToLeftChart()"
                            ng-show="conditionPanelWatcherEdit.areMultipleCharts && conditionPanelWatcherEdit.isAnyActiveChart"
                          >
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="form-group">
                          <button
                            type="button"
                            class="btn btn-sm btn-default"
                            aria-label="Left Align"
                            ng-click="conditionPanelWatcherEdit.switchToRightChart()"
                            ng-show="conditionPanelWatcherEdit.areMultipleCharts && conditionPanelWatcherEdit.isAnyActiveChart"
                          >
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-11">
                      <div class="form-group">
                        <p ng-show="conditionPanelWatcherEdit.activeChart.enabled">
                          <i class="fa fa-area-chart"></i> {{conditionPanelWatcherEdit.activeChart.name}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row" id="watcher-editor-condition-chart" >
                    <div class="col-md-12">
                      <div
                        class="form-group chart-container"
                        ng-show="conditionPanelWatcherEdit.activeChart.enabled">
                        <small class="form-text text-muted">Historical data:</small>
                        <canvas
                          class="chart chart-line"
                          chart-data="conditionPanelWatcherEdit.activeChart.yAxis"
                          chart-labels="conditionPanelWatcherEdit.activeChart.xAxis"
                          chart-options="conditionPanelWatcherEdit.activeChart.options"
                          chart-click="conditionPanelWatcherEdit.onChartClick"
                        ></canvas> 
                      </div>
                      <div class="alert alert-warning" role="alert" ng-show="!conditionPanelWatcherEdit.isAnyActiveChart">
                        <p>{{conditionPanelWatcherEdit.messages.nodata}}</p>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="Chart query">
                  <div class="row" id="watcher-editor-condition-chart-query" >
                    <div class="col-md-12">
                      <div class="form-group">
                        <small class="form-text text-muted">Chart query (read only). <a ng-click="conditionPanelWatcherEdit.turnIntoAdvanced()">Turn into advanced</a></small>
                        
                        <div
                          readonly
                          ui-ace="conditionPanelWatcherEdit.aceOptions({mode: 'json', maxLines: 50, minLines: 50})"
                          ng-model="conditionPanelWatcherEdit.rawDoc.chart.text"
                        >
                          {{conditionPanelWatcherEdit.rawDoc.chart.text}}
                        </div>
                      </div>
                    </div>
                  </div> <!-- END -->
                </uib-tab>
                <uib-tab index="2" heading="Watcher query">
                  <div class="row" id="watcher-editor-condition-whatcher-query" >
                    <div class="col-md-12">
                      <div class="form-group">
                        <small class="form-text text-muted">Watcher raw (read only). <a ng-click="conditionPanelWatcherEdit.turnIntoAdvanced()">Turn into advanced</a></small>
                        <div
                          readonly
                          ui-ace="conditionPanelWatcherEdit.aceOptions({mode: 'json', maxLines: 50, minLines: 50})"
                          ng-model="conditionPanelWatcherEdit.rawDoc.watcher.text"
                        >
                          {{conditionPanelWatcherEdit.rawDoc.watcher.text}}
                        </div>
                      </div>
                    </div>
                  </div> <!-- END -->
                </uib-tab>
              </uib-tabset>
            </div>
          </div> <!-- END condition based query builder -->
        </div>
      </div>
    </div>
  </form>
</section>
