<div uib-accordion-group class="panel-default" is-open="slackAction.isOpen">
  <uib-accordion-heading>
    {{slackAction.actionSettings.$$title}} <i class="pull-right glyphicon"
    ng-class="{'glyphicon-chevron-down': slackAction.isOpen, 'glyphicon-chevron-right': !slackAction.isOpen}"></i>
  </uib-accordion-heading>

  <div class="row" id="slack-action" class="action-panel">
    <div class="col-12">
      <div class="well" ng-form="slackForm">

        <div class="page-header">
          <h4><small>{{slackAction.type}} action</small></h4>
        </div> <!-- end page-header -->

        <div class="form-group">
          <div class="col-md-2 period-tag-label">
            <label>Throttle</label>
          </div>
          <div class="col-md-10">
            <period-tag timesrc="slackAction.actionSettings.$$throttle"></period-tag>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Priority</label>
          <div class="btn-group col-md-2">
            <select
              class="form-control condition-select"
              ng-model="slackAction.actionSettings.slack.priority"
              ng-options="o as o for o in slackAction.actionPriorities"
            ></select>
          </div>
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox"
                ng-model="slackAction.actionSettings.slack.stateless"
                ng-checked="slackAction.actionSettings.slack.stateless"
              /> stateless
            </label>
          </div>
          <div class="col-md-3">
            <input type="checkbox"
              ng-model="slackAction.actionSettings.slack.save_payload"
              ng-checked="slackAction.actionSettings.slack.save_payload"
            /> save payload
            <i class="fa fa-question-circle"
              aria-hidden="true"
              uib-popover="{{slackAction.help.action.save_payload}}"
              popover-trigger="'outsideClick'"></i>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': slackForm.slackTitle.$invalid && !slackForm.slackTitle.$pristine}">
          <label class="col-md-2 control-label" for="slackTitle">Title</label>
          <div class="col-md-10">
            <input
              type="text"
              id="slackTitle"
              name="slackTitle"
              value="{{slackAction.actionName}}"
              class="form-control"
              placeholder="{{watcher._id}}"
              ng-model="slackAction.actionSettings.$$title"
              ng-required="slackAction.actionSettings.slack.$$edit"
            />
          </div>
          <p ng-show="slackForm.slackTitle.$invalid && !slackForm.slackTitle.$pristine" class="help-block">
            Action title is required.
          </p>
        </div>
        <div class="form-group" ng-class="{'has-error': slackForm.slackChannel.$invalid && !slackForm.slackChannel.$pristine}">
          <label class="col-md-2 control-label" for="slackChannel">Channel</label>
          <div class="col-md-10">
            <input
              type="text"
              id="slackChannel"
              name="slackChannel"
              value="{{slackAction.actionSettings.slack.channel}}"
              class="form-control"
              placeholder="#channel"
              ng-model="slackAction.actionSettings.slack.channel"
              ng-required="slackAction.actionSettings.slack.$$edit"
            />
          </div>
          <p ng-show="slackForm.slackChannel.$invalid && !slackForm.slackChannel.$pristine" class="help-block">
            Channel name is required.
          </p>
        </div>
        <div class="form-group" ng-class="{'has-error': !slackAction.actionSettings.slack.message.length}">
          <label class="col-md-2 control-label" for="slackMessage">Message</label>
          <div class="col-md-10">
            <div id="slackMessage"
              ng-model="slackAction.actionSettings.slack.message"
              ui-ace="slackAction.aceOptions({mode: 'behaviour'})"
            >{{slackAction.actionSettings.slack.message}}
            </div>
          </div>
          <p ng-show="!slackAction.actionSettings.slack.message.length" class="text-warning">
            Write a message.
          </p>
        </div>

        <div class="form-group control-actions">
          <button type="button" class="btn btn-danger pull-right" ng-click="slackAction.remove()">Delete</button>
        </div> <!-- end form-group -->

      </div> <!-- end well -->
    </div> <!-- end col-12 -->
  </div> <!-- end email-action -->
</div> <!-- end uib-accordion-group -->
