<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <title-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
        on-index-change="thresholdWatcherEdit.indexChange({index: index})"
        on-schedule-change="thresholdWatcherEdit.scheduleChange(mode, text)"
      ></title-panel-watcher-edit>
    </div>
  </div>
  <div class="panel panel-default"
    ng-if="!thresholdWatcherEdit.wizardHelper.isSpyWatcher(thresholdWatcherEdit.watcher) && thresholdWatcherEdit.condition.show"
  >
    <div class="panel-body">
      <condition-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
        update-status="thresholdWatcherEdit.condition.updateStatus(isSuccess)"
        on-query-change="thresholdWatcherEdit.queryChange(body)"
        on-condition-change="thresholdWatcherEdit.conditionChange(condition)"
        ace-options="thresholdWatcherEdit.aceOptions({mode: mode, maxLines: maxLines, minLines: minLines})"
        turn-into-advanced="thresholdWatcherEdit.turnIntoAdvanced()"
        indexes-data="thresholdWatcherEdit.indexesData"
        error-message="thresholdWatcherEdit.errorMessage(err)"
      ></condition-panel-watcher-edit>
    </div>
  </div>
  <div class="panel panel-default"
    ng-if="thresholdWatcherEdit.actions.show"
  >
    <div class="panel-body">
      <action-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
        on-add="thresholdWatcherEdit.actionAdd({actionName: actionName, actionSettings: actionSettings})"
        on-delete="thresholdWatcherEdit.actionDelete({actionName: actionName})"
        ace-options="thresholdWatcherEdit.aceOptions({mode: mode, maxLines: maxLines, minLines: minLines})"
      ></action-panel-watcher-edit>
    </div>
  </div>
</div>
