<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <title-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
      ></title-panel-watcher-edit>
    </div>
  </div>
  <div class="panel panel-default" ng-show="thresholdWatcherEdit.condition.show">
    <div class="panel-body">
      <condition-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
        update-status="thresholdWatcherEdit.condition.updateStatus(isSuccess)"
        on-query-change="thresholdWatcherEdit.queryChange(body)"
        on-condition-change="thresholdWatcherEdit.conditionChange(condition)"
      ></condition-panel-watcher-edit>
    </div>
  </div>
  <div class="panel panel-default" ng-show="thresholdWatcherEdit.actions.show">
    <div class="panel-body">
      <action-panel-watcher-edit
        watcher="thresholdWatcherEdit.watcher"
        on-add="thresholdWatcherEdit.actionAdd(actionName, actionSettings)"
        on-delete="thresholdWatcherEdit.actionDelete(actionName)"
      ></action-panel-watcher-edit>
    </div>
  </div>
</div>
