<div class="modal-header">
  <h3 class="modal-title">Create watcher</h3>
</div>
<div class="modal-body">

<form name="outerForm" class="form-horizontal">
  <tabset active="activeForm">
    <tab index="0" heading="General">
      <div class="form-group">
        <p></p>
      </div>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <button
            type="button"
            class="btn btn-sm btn-success"
            ng-click="watcher._source.disable = !watcher._source.disable; toggleWatcher()"
            ng-class="{true: 'btn-warning', false: 'btn-success'}[watcher._source.disable]"
            >{{form.status}}</button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="title">Title:</label>
        <div class="col-md-6">
          <input
            type="text"
            id="title"
            name="title"
            value="{{watcher._source.title}}"
            class="form-control"
            placeholder="{{watcher._source.uuid}}"
            ng-model="watcher._source.title"
            ng-disabled="form.disabled">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="schedule">Schedule:</label>
        <div class="col-md-6">
          <input
            type="text"
            id="schedule"
            name="schedule"
            value="{{watcher._source.trigger.schedule.later}}"
            class="form-control"
            placeholder="every 1m"
            ng-model="watcher._source.trigger.schedule.later"
            ng-disabled="form.disabled">
        </div>
          <!-- TO-DO: add timepicker and datepicker -->
          <!-- angular ui v0.12
          <timepicker
            ng-model="form.time.now"
            ng-change="changed()"
            hour-step="form.time.hstep"
            minute-step="form.time.mstep"
            show-meridian="form.time.ismeridian"></timepicker>
          -->
          <!-- angular ui v2.5
          <div uib-timepicker
            ng-model="form.time.now"
            ng-change="changed()"
            hour-step="form.time.hstep"
            minute-step="form.time.mstep"
            show-meridian="form.time.ismeridian"
            ng-disabled="disabled"></div>
        </div>
          -->
      </div>
    </tab>
    <tab index="1" heading="Input" select="getInput()">
      <div class="form-group">
        <p></p>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div id="inputEdit" class="aceditor">{{ watcher._source.input | json }}</div>
        </div>
      </div>
    </tab>
    <tab index="2" heading="Condition" select="getCondition()">
      <div class="form-group">
        <p></p>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div id="conditionEdit"
            class="aceditor"
            ng-model="watcher._source.condition.script.script">{{ watcher._source.condition.script.script }}</div>
        </div>
      </div>
    </tab>
    <tab index="3" heading="Transform" select="getTransform()">
      <div class="form-group">
        <p></p>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div id="transformEdit"
            class="aceditor"
            ng-model="watcher._source.transform.script.script">{{ watcher._source.transform.script.script }}</div>
        </div>
      </div>
    </tab>
    <tab index="4" heading="Actions">
      <div class="form-group">
        <p></p>
      </div>

      <div class="form-group">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <ul class="formActionsList"
            ng-repeat="(actionName, actionSettings) in watcher._source.actions" style="list-style-type:none;">
            <li>
              <a href="" class="fa fa-minus" ng-click="removeAction(actionName)"></a>
              <a href="" ng-click="editAction(actionName, actionSettings)">{{actionName}}</a>
              <div ng-if="actionSettings.webhook._edit">
                <webhook-action name="{{actionName}}"></webhook-action>
              </div>
              <div ng-if="actionSettings.email._edit">
                <email-action name="{{actionName}}"></email-action>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <a href=""
            ng-class="{'fa': true, 'fa-plus': !form.actions.new.edit, 'fa-minus': form.actions.new.edit}"
            ng-click="addAction()"></a>
          <div ng-if="form.actions.new.edit">
            <new-action></new-action>
          </div>
        </div>
      </div>

    </tab>
  </tabset>
</form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
