<h4>{{ action.type }}</h4>
<div class="jumbotron">
  <div class="form-group">
    <label class="col-md-2 control-label">Priority:</label>
    <div class="btn-group col-md-4">
      <label class="btn btn-danger btn-sm" ng-model="actionSettings.report.priority" btn-radio="'high'">High</label>
      <label class="btn btn-warning btn-sm" ng-model="actionSettings.report.priority" btn-radio="'medium'">Medium</label>
      <label class="btn btn-info btn-sm" ng-model="actionSettings.report.priority" btn-radio="'low'">Low</label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportTitle">Title:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportTitle"
        actionName="reportTitle"
        value="{{actionName}}"
        class="form-control"
        placeholder="{{watcher._source.uuid}}"
        ng-model="actionSettings._title"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportTo">To:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportTo"
        name="reportTo"
        value="{{actionSettings.report.to}}"
        class="form-control"
        placeholder="reports@localhost"
        ng-model="actionSettings.report.to"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportFrom">From:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportFrom"
        name="reportFrom"
        value="{{actionSettings.report.from}}"
        class="form-control"
        placeholder="sentinl@localhost"
        ng-model="actionSettings.report.from"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportSubject">Subject:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportSubject"
        name="reportSubject"
        value="{{actionSettings.report.subject}}"
        class="form-control"
        placeholder="SENTINL Report"
        ng-model="actionSettings.report.subject"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportBody">Body:</label>
    <div class="col-md-8">
      <div id="reportBody"
        ng-model="actionSettings.report.body"
        ui-ace="{
          mode: 'behaviour'
        }" class="aceditor"></div>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportResolution">Resolution:</label>
    <div class="col-md-3">
      <input
        type="text"
        id="reportResolution"
        name="reportResolution"
        value="{{actionSettings.report.snapshot.res}}"
        class="form-control"
        placeholder="1280x900"
        ng-model="actionSettings.report.snapshot.res"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportUrl">URL:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportUrl"
        name="reportUrl"
        value="{{actionSettings.report.snapshot.url}}"
        class="form-control"
        placeholder="http://www.google.com"
        ng-model="actionSettings.report.snapshot.url"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportPath">Path:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportPath"
        name="reportPath"
        value="{{actionSettings.report.snapshot.path}}"
        class="form-control"
        placeholder="/tmp/"
        ng-model="actionSettings.report.snapshot.path"
        ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reportDelay">Delay:</label>
    <div class="col-md-6">
      <input
        type="text"
        id="reportDelay"
        name="reportDelay"
        value="{{actionSettings.report.snapshot.params.delay}}"
        class="form-control"
        placeholder="5000"
        ng-model="actionSettings.report.snapshot.params.delay"
        ng-disabled="form.disabled">
    </div>
  </div>
</div>
