<div ng-form="scheduleForm">
  <table class="scheduleTag">
    <div class="form-group" ng-class="{'has-error': scheduleForm.hours.$invalid && !scheduleForm.hours.$pristine ||
      scheduleForm.mins.$invalid && !scheduleForm.mins.$pristine ||
      scheduleForm.secs.$invalid && !scheduleForm.secs.$pristine}">
      <tr>
        <td>
          h:
        </td>
        <td>
          <input
            type="number"
            min="0"
            max="23"
            id="hours"
            name="hours"
            ng-pattern="action.pattern.hours"
            ng-value="timesrc.hours"
            class="form-control"
            ng-model="timesrc.hours"
            ng-disabled="form.disabled">
        </td>
        <td>
          m:
        </td>
        <td>
          <input
            type="number"
            min="0"
            max="59"
            id="mins"
            name="mins"
            ng-pattern="action.pattern.minsAndSecs"
            ng-value="timesrc.mins"
            class="form-control"
            ng-model="timesrc.mins"
            ng-disabled="form.disabled">
        </td>
        <td>
          s:
        </td>
        <td>
          <input
            type="number"
            min="0"
            max="59"
            id="secs"
            name="secs"
            ng-pattern="action.pattern.minsAndSecs"
            ng-value="timesrc.secs"
            class="form-control"
            ng-model="timesrc.secs"
            ng-disabled="form.disabled">
        </td>
      </tr>
    </div>
    <p ng-show="scheduleForm.hours.$invalid && !scheduleForm.hours.$pristine ||
      scheduleForm.mins.$invalid && !scheduleForm.mins.$pristine ||
      scheduleForm.secs.$invalid && !scheduleForm.secs.$pristine" class="text-danger">
      Time is invalid.
    </p>
  </table>
</div>
