<table class="throttleTag">
  <tr>
    <td>
      h:
    </td>
    <td>
      <input
        type="number"
        min="0"
        max="23"
        id="hours"
        name="hours"
        ng-value="actionSettings._throttle.hours"
        class="form-control"
        ng-model="actionSettings._throttle.hours"
        ng-disabled="form.disabled">
    </td>
    <td>
      m:
    </td>
    <td>
      <input
        type="number"
        min="0"
        max="59"
        id="mins"
        name="mins"
        ng-value="actionSettings._throttle.mins"
        class="form-control"
        ng-model="actionSettings._throttle.mins"
        ng-disabled="form.disabled">
    </td>
    <td>
      s:
    </td>
    <td>
      <input
        type="number"
        min="0"
        max="59"
        id="secs"
        name="secs"
        ng-value="actionSettings._throttle.secs"
        class="form-control"
        ng-model="actionSettings._throttle.secs"
        ng-disabled="form.disabled">
    </td>
  </tr>
</table>
