<div class="period-tag" ng-form="periodForm" ng-class="{'has-error': periodForm.hours.$invalid && !periodForm.hours.$pristine ||
  periodForm.mins.$invalid && !periodForm.mins.$pristine ||
  periodForm.secs.$invalid && !periodForm.secs.$pristine}">
  <input
    type="number"
    min="action.time.min"
    max="action.time.max"
    name="hours"
    ng-value="timesrc.hours"
    class="form-control"
    ng-model="timesrc.hours">
  <label for="mins">:</label>
  <input
    type="number"
    min="action.time.min"
    max="action.time.max"
    name="mins"
    ng-value="timesrc.mins"
    class="form-control"
    ng-model="timesrc.mins">
  <label for="secs">:</label>
  <input
    type="number"
    min="action.time.min"
    max="action.time.max"
    name="secs"
    ng-value="timesrc.secs"
    class="form-control"
    ng-model="timesrc.secs">

    <p ng-show="periodForm.hours.$invalid && !periodForm.hours.$pristine ||
      periodForm.mins.$invalid && !periodForm.mins.$pristine ||
      periodForm.secs.$invalid && !periodForm.secs.$pristine" class="text-danger">
      Time period is invalid.
    </p>
</div>
