<section>
  <form name="titlePanelWatcherEdit.form" ng-model-options="{ getterSetter: true }" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="row watcher-editor-panel-header">
            <div class="col-md-6">
              <header>
                <h3 class="form-text">
                  Watcher
                </h3>
                <small class="form-text text-muted">
                  Send alert via different channels when conditions are met
                </small>
              </header>
            </div>
          </div> <!-- END header -->
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="watcherName">
                  Name
                </label>
                <input
                  class="form-control"
                  type="text"
                  name="watcherName"
                  id="watcherName"
                  input-focus
                  required
                  ng-model="titlePanelWatcherEdit.watcher._source.title"
                  ng-model-options="{ debounce: 500 }"
                  placeholder="My Watcher"
                >
                <small
                  id="watcherNameValidationMessage"
                  class="form-text text-danger"
                  ng-if="titlePanelWatcherEdit.isValidationMessageVisible('watcherName', 'required')"
                >
                  A name is required.
                </small>
              </div>
            </div>
          </div> <!-- END title -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="watcherIndex">
                  Select an Index
                </label>
                <watcher-edit-add-index
                  watcher="titlePanelWatcherEdit.watcher"
                ></watcher-edit-add-index>
              </div>
            </div> <!-- END select indices -->
            <div class="col-sm-2">
              <div class="form-group">
                <label for="watcherScheduleMode">
                  <i class="fa fa-calendar"></i> Schedule mode
                </label>
                <select
                  name="watcherScheduleMode"
                  id="watcherScheduleMode"
                  class="form-control condition-select"
                  ng-model="titlePanelWatcherEdit.schedule.selected"
                  ng-options="o as o for o in titlePanelWatcherEdit.schedule.options"
                  ng-model-options="{ debounce: 500 }"
                  ng-change="titlePanelWatcherEdit.schedule.switchMode()"
                ></select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" ng-show="titlePanelWatcherEdit.schedule.human.enabled">
                <watcher-edit-human-schedule
                  watcher="titlePanelWatcherEdit.watcher"
                ></watcher-edit-human-schedule>
              </div>
              <div class="form-group" ng-show="titlePanelWatcherEdit.schedule.every.enabled">
                <watcher-edit-every-schedule
                  watcher="titlePanelWatcherEdit.watcher"
                ></watcher-edit-every-schedule>
              </div>
            </div> <!-- END schedule -->
          </div> <!-- END index and schedule -->
        </div>
      </div>
    </div>
  </form>
</section>
