<section id="search-filter">
  <header>
    <h4 class="form-text">
      Search Filters
    </h4>
    <small class="form-text text-muted">
      The search query and filters set from the dashboard
    </small>
  </header>
  <hr>

  <div class="form-group" ng-if="searchFilter.queryString">
    <label>Query string</label>
    <input class="form-control" disabled ng-model="searchFilter.queryString">
  </div>

  <div class="row" ng-if="searchFilter.filters.length">
    <div class="panel-body">
      <div class="form-group filters-section">
        <label>Filters</label>
        <div>
          <div class="filter-pill" ng-class="{negate: filter.meta.negate}" ng-repeat="filter in searchFilter.filters">
            <span ng-if="filter.meta.alias">{{filter.meta.alias}}</span>

            <span ng-if="!filter.meta.alias" ng-switch="filter.meta.type">
              <span ng-switch-when="exists">{{filter.meta.key}}: "exists"</span>
              <span ng-switch-default>{{filter.meta.key}}: "{{filter.meta.value}}"</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
