<form iname="ddWatcherAggTime.form" ng-model-options="{ getterSetter: true }" novalidate>
  <a pop-over pop-over-title="{{ddWatcherAggTime.title}}">
    <strong class="pop-over-btn-text">FOR {{ddWatcherAggTime.title}}</strong> {{ddWatcherAggTime.number}} {{ddWatcherAggTime.selected}}
  </a>
  <div ng-hide="true" class="pop-over-content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            class="form-control"
            id="number"
            type="number"
            ng-model="ddWatcherAggTime.number"
            ng-change="ddWatcherAggTime.handleChange()"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select
            class="form-control condition-select"
            ng-model="ddWatcherAggTime.selected"
            ng-options="o as o for o in ddWatcherAggTime.options"
            ng-change="ddWatcherAggTime.handleChange()"
          ></select>
        </div>
      </div>
    </div>
  </div>
</form>
