<div ng-form="scheduleForm">
  <table class="schedule-tag">
    <div class="form-group" ng-class="{'has-error': scheduleForm.hours.$invalid && !scheduleForm.hours.$pristine ||
      scheduleForm.mins.$invalid && !scheduleForm.mins.$pristine ||
      scheduleForm.secs.$invalid && !scheduleForm.secs.$pristine}">
      <tr>
        <td>
          <input
            type="number"
            min="action.time.min"
            max="action.time.max"
            id="hours"
            name="hours"
            ng-value="timesrc.hours"
            class="form-control"
            ng-model="timesrc.hours">
        </td>
        <td>
          :
        </td>
        <td>
          <input
            type="number"
            min="action.time.min"
            max="action.time.max"
            id="mins"
            name="mins"
            ng-value="timesrc.mins"
            class="form-control"
            ng-model="timesrc.mins">
        </td>
        <td>
          :
        </td>
        <td>
          <input
            type="number"
            min="action.time.min"
            max="action.time.max"
            id="secs"
            name="secs"
            ng-value="timesrc.secs"
            class="form-control"
            ng-model="timesrc.secs">
        </td>
      </tr>
    </div>
    <p ng-show="scheduleForm.hours.$invalid && !scheduleForm.hours.$pristine ||
      scheduleForm.mins.$invalid && !scheduleForm.mins.$pristine ||
      scheduleForm.secs.$invalid && !scheduleForm.secs.$pristine" class="text-danger">
      Time is invalid.
    </p>
  </table>
</div>
